html {
  scroll-behavior: smooth;
  background: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  color: white;
  user-select: none;
  font-family: Inter;
  line-height: 150%;
  background-color: black;
  background-image: url('./assets/images/image2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  min-height: 100vh;
}

.header {
  height: 60px;
  padding: 10px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__btn {
  transition: 0.5s;
}

.header__btn img {
  width: 40px;
  filter: invert(1);
}

.next {
  transform: rotate(180deg);
}

.header__btn:active {
  transform: scale(0.8);
  transition: 0.2s;
}

.main {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px);
}

.creative {
  position: relative;
  max-width: 1280px;
  width: 100%;
  height: 100vh;
  max-height: 720px;
  min-height: 500px;
  border: solid 20px white;
  border-radius: 3px;
  background-image: url('./assets/images/image1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  position: absolute;
  display: flex;
  gap: 10px;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 20% 10px 10px;
  height: 100%;
  background: white;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  border-right: solid 20px yellow;
  width: 60%;
  background: #0F2027;
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.content__title {
  text-align: center;
}

span {
  color: yellow;
}

.content__logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-family: "Iowan Old Style";
  font-size: 2rem;
  transition: 0.7s;
}

.content__btn {
  background:white;
  color: #0F2027;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-right: yellow solid 10px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  outline: none;
  min-height: 80px;
  width: 120px;
  transition: 0.5s;
}

.content__btn:active {
  transition: 0.2;
  transform: scale(0.8);
}

.content__contacts {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.creative__right {
  overflow: hidden;
}

.creative__right__img {
  height: 100%;
  visibility: hidden;
}

.creative__right__img_full {
  position: absolute;
  z-index: -1;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 70%;
  right: 0;
  top: 0;
}

@media (hover:hover) {
  .header__btn:hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .content__btn:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

@media (max-width: 768px) {
  .creative {
    display: block;
    height: fit-content;
    background: url('./assets/images/image2.png') no-repeat center;
    background-size: cover;
  }

  .creative__right__img {
    display: none;
  }

  .creative__right__img_full {
    display: none;
  }

  .content {
    position: static;
    width: 100%;
  }
}

@media (max-width: 468px) {
  .content {
    border: none;
    border-radius: 0;
    justify-content: center;
    padding: 10px;
    background: rgba(15, 32, 39, 0.5);
    background: linear-gradient(to right, rgba(44, 83, 100, 0.5), rgba(32, 58, 67, 0.5), rgba(15, 32, 39, 0.5));
  }

  .content__btn {
    min-height: 50px;
    border-radius: 3px;
    border: 0;
  }
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0);
}
*::-webkit-scrollbar-track:active {
  background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: white;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
*::-webkit-scrollbar-thumb:active {
  background-color: white;
}